<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/669c45559e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../Assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../Assets/css/style.css" />
    <link rel="stylesheet" href="Fornt.css">
</head>

<body>


    <!-- Adarsh Code -->


    <!-- <row1*> -->
    <div class="container-fluid row1">
        <div class="row text-center  justify-items-center justify-content-center">
            <p class="mt-5 pt-5">The Spring Collection</p>
            <h3>Give a new look</h3>
            <div class="col-lg-3 col-md-3 col-12 mt-3 px-6">
                <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/1_0583e5d6-849b-4204-a70b-ca5d1711aa87.png?v=1697099333" class="img-fluid" width="360px" alt=""><br>
                <h5 class="mt-3 pt-3">For Dinning Room</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-12 mt-3 ">
                <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/2_e08dba64-4822-4983-8ec9-0d53fda21c54.png?v=1697099333" class="img-fluid" width="360px" alt=""><br>
                <h5 class="mt-3 pt-3">For Dinning Room</h5>
            </div>
            <div class="col-lg-3 col-md-3 col-12 mt-3 ">
                <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/3_1739087a-53d1-44c4-8e5b-ec03becd8a86.png?v=1697099333" class="img-fluid" width="360px" alt=""><br>
                <h5 class="mt-3 pt-3">For Dinning Room</h5>
            </div>
            <!-- <*2nd step ***********************> -->
            <div class="row  justify-items-center justify-content-center mt-5 pt-5">
                <div class="col-lg-3 col-md-3 col-12">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/decoz-05-1638951602802.png?v=1638951627" class="img-fluid" width="380px" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <h3 class="mt-5 pt-5">Not Just A Way Of Living</h3><br>
                    <p>A cozy atmosphere with family can replace your stress with comfy and convenience right after
                        walking through the doorway. Nothing is better than sitting on a soft chair and enjoying your
                        warm drink after a long day at work.</p><br>
                    <button type="button" class=btn1>Learn More</button> <br>
                </div>

                <div class="col-lg-3 col-md-3 col-12">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/decoz-06-1638951602809.png?v=1638951632" class="img-fluid" width="380px" alt="">
                </div>

            </div>
            <!-- <3rd step> -->
            <div class="row justify-items-center justify-content-evenly mt-5 pt-5">
                <p>Our Best Seller</p>
                <h3>Family Chair Set</h3><br>
                <p>Sustainable - Eco-friendly materials - For sensitive skin</p>

                <div class="col-lg-3 col-md-3 col-12 g-3 row33">
                    <card>

                        <img src="https://pagefly.myshopify.com/cdn/shop/products/Decoz07.png?v=1639306242" class="img-fluid" width="380px" alt="">
                        <h5 class="text-start">Lawson chair</h5>
                        <p class="text-start"><del>$2,700.00</del> <span style="color:#BD9354;"> $3,500.00</span>
                        </p>
                        <button class="btn22 px-5">Add To Cart</button>
                        <br>
                    </card>
                </div>
                <div class="col-lg-3 col-md-3 col-12 g-3 row33">
                    <card>
                        <img src="https://pagefly.myshopify.com/cdn/shop/products/prid-image.png?v=1676367630" class="img-fluid" width="380px" alt="">
                        <h5 class="text-start">Lawson chair</h5>
                        <p class="text-start"><del>$2,700.00</del> <span style="color:#BD9354;"> $3,500.00</span>
                        </p>
                        <button class="btn22 px-5">Add To Cart</button>
                        <br>
                    </card>

                </div>

                <div class="col-lg-3 col-md-3 col-12  row33">
                    <card>
                        <img src="https://pagefly.myshopify.com/cdn/shop/products/Decoz09.png?v=1639306376" class="img-fluid" width="380px" alt="">
                        <h5 class="text-start">Lawson chair</h5>
                        <p class="text-start"><del>$2,700.00</del> <span style="color:#BD9354;"> $3,500.00</span>
                        </p>
                        <button class="btn22 px-5">Add To Cart</button>
                        <br>
                    </card>

                </div>
                <br><br>
            </div>
        </div>
    </div>
    <div class="container-fluid  row44">
        <div class="row  mt-5 pt-5">
            <div class="col-lg-6 col-md-6 col-12 mt-5 pt-5">
                <h3 style="margin-left: 80px;">We Do Things Differently</h3>
                <p style="margin-left: 80px;">With more than 5 years of experience in Home Decoration field, we have
                    assisted hundreds
                    of customers to improve their house as well as their lifestyle. Understanding the need for dedicated
                    products, we only
                    use high-quality raw materials with high-quality workmanship, providing the best experience for all
                    of your family members.</p>

            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <video src="https://cdn.shopify.com/videos/c/o/v/dee036886b0b4306997ea82b2aaef210.mp4" class="img-fluid"
                    w-100 alt="">

            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>


<!-- end -->

<!-- Arman Code -->
<div class="container-fluid" style="background-color: bisque;">
    <div class="container">
        <div class="row text-center">
            <div>
                <p class="heading1">Don't Miss This Chance</p>
                <h3>Sale Up to 50%</h3>
            </div>
        </div>




        <br>
        <br>


        <!-- card 1 -->

        <div class="row">
            <div class="col-lg-3 col-md-3 col-12">
                <div class="card" style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/products/prd-img_1.png?v=1639043855"
                        class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text text-start">Wingback buttoned bed</p>
                        <p><del>$7,000.00</del> &nbsp; <span>$5,600.00</span></p>
                        <button type="button" class="btn btn-secondary btn-lg  px-5 ">Add To Cart</button>
                    </div>
                </div>
            </div>

            <!-- card 2 -->
            <div class="col-lg-3 col-md-3 col-12">
                <div class="card" style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/products/prd-img_2.png?v=1639043838"
                        class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text text-start">Luna butterfly table</p>
                        <p><del>$7,000.00</del> &nbsp; <span>$5,600.00</span></p>
                        <button type="button" class="btn btn-secondary btn-lg  px-5 ">Add To Cart</button>
                    </div>
                </div>
            </div>

            <!-- card 3 -->
            <div class="col-lg-3 col-md-3 col-12">
                <div class="card" style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/products/Decoz09.png?v=1639306376"
                        class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text text-start">Chesterfield closet</p>
                        <p><del>$7,000.00</del> &nbsp; <span>$5,600.00</span></p>

                        <button type="button" class="btn btn-secondary btn-lg px-5 text-center">Add To Cart</button>
                    </div>
                </div>
            </div>

            <!-- card 4 -->
            <div class="col-lg-3 col-md-3 col-12">
                <div class="card" style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/products/prd-img_a7dfa5b5-cb09-433a-aac2-1b795d521ed1.png?v=1676368135"
                        class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text text-start">Chesterfield closet</p>
                        <p><del>$7,000.00</del> &nbsp; <span>$5,600.00</span></p>
                        <button type="button" class="btn btn-secondary btn-lg  px-5 ">Add To Cart</button>

                    </div>
                </div>
            </div>
        </div>



    </div>

    <br>
    <br>


    <div class="container">
        <div class="row text-center">
            <div>

                <h2 class="mt-5 pt-5">Experts Care For Your Home
                </h2>
            </div>
        </div>

        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card">
                        <img src="https://pagefly.myshopify.com/cdn/shop/articles/decoz-17-1638951602848.jpg?v=1667818716"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Stay safe and healthy</h5>
                            <p class="card-text">Only choose safe materials for your babies’ sensitive skin. Not all
                                materials are alike. Find out which one will be the most suitable with these quick
                                tips.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card">
                        <img src="https://pagefly.myshopify.com/cdn/shop/articles/decoz-16-1638951602845.jpg?v=1667818678"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Reduce, reuse, and recycle!</h5>
                            <p class="card-text">As a friend of the environment, we don’t just simply throw out the
                                old
                                furniture and get the new one. Let’s see how we can make it better together.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card">
                        <img src="https://pagefly.myshopify.com/cdn/shop/articles/decoz-15-1638951602842.jpg?v=1667818386"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bring your living room to the New</h5>
                            <p class="card-text">Tone up the room and express who you are with the soft light color
                                of
                                this spring season. Wooden furniture will be the first choice for the cozy feeling.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: antiquewhite;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <p style="margin-top: 275px;">Not really sure if the product meets my needs at first, but
                after
                seeing this brand’s bedroom in my friend’s house, I have no other doubts and need to buy
                myself one at
            <p class="text-center"> once. Cannot deny this comfy!</p>

            </p>
            <br>
            <p class="text-center"> Emma S</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <img src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/decoz181638951602853-1642567467271.png?v=1642567469"
                alt="">
        </div>
    </div>
</div>

<div class="container-fluid py-5" style="background-color: #6A6A6A;">
    <div class="row  justify-content-center">
        <div class="col-lg-6 col-md-6 col-12">

            <div>
                <h4 class="text-white">Be our new family member now</h4>
                <p class="text-white">Get the latest promotion, tips and sharing. No spam guaranteed!
                </p>
            </div>

        </div>


        <div class="col-lg-6 col-md-6 col-12 p-5">
            <form class="row g-3 align-items-center">
                <div class="col-auto">
                    <input type="email" class="form-control" id="inputemail" placeholder="email">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>







<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>