/* Adarsh code */

.row1{
    background-color: #FFF3E4;
    
}
.btn1{
    background-color: #BD9354;
    border: none;
}
.row33{
    background-color: white;

}
.btn22{
    background-color: #BD9354;
     border: none;
}
.row44{
    background-color:#EDDCC2 ;
    
}



/* end */





.heading1{
    margin-top: 5px;
    padding-top: 5px;
    
}

 

.second_last{
    background-color: antiquewhite;
}





